* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #222;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #6839ce);
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  color: rgb(234, 225, 225);
  font-weight: 400;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}
.search button img {
    width: 16px;
}
.weather__condition img{
  width: 100px;
  margin-top: 30px;
}

.weather{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.wind{
  display: flex;
  text-align: left;
  align-items: center;
}
.img img{
  width: 40px;
}
.wind__details{
  margin-left:10px ;
}

.Humidity{
  display: flex;
  text-align: left;
  align-items: center;
}

.Humidity__details{
  margin-left:10px ;
}